<div id="<%= dom_id category %>">
  <p>
  <h5 class="card-title">
    <%= category.name %>
  </h5>
  <div>
    Count:
    <span class="badge badge-dark bg-info text-dark" style="margin: 5px">
    <%= category.product.count %>
    </span>
  </div>
  </p>

</div>
