<div id="<%= dom_id product %>">
  <h5 class="card-title">
    <%= product.title %>
  </h5>

  <p class="card-text">
    <strong>Body:</strong>
    <%= product.body %>
  </p>
  <div>
    Views:
    <span class="badge badge-dark bg-info text-dark" style="margin: 5px">
    <%= product.unique_impression_count %>
    </span>
  </div>

</div>
